@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 36px;
    font-weight: 700;
    z-index: 1000;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
    z-index: 1000;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.box::before, .box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: rotate 6s linear infinite;
}

.box::after {
    animation-delay: -3s;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #ffffff;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.inputBox {
    position: relative;
    margin-top: 30px;
}

.inputBox input {
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 20px 0 10px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
}

.inputBox input:focus {
    background: #ECECEC;
}

input[type="submit"] {
    border: none;
    outline: none;
    background: #45f3ff;
    width: 100px;
    height: 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.7;
}
